@CHARSET "ISO-8859-1";
@import "normalize.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	background-color: #FFFFFF;
	color: #59554E;
    font-family: 'Open Sans', sans-serif;
}

h1 {
	color: #59554E
}

nav ul {
	background-color: #A1C1BE;
	padding: 0.4em 0;
}

nav li {
	display: inline;
}

nav li a {
	color: white;
	padding-left: 0.5em;
	text-decoration: none;
	vertical-align: middle;
}

nav li a:hover {
	color: #59554E;
	font-weight: bold;
}

nav#menu ul {
	background-color: #FFFFFF;
}

nav#menu li a {
	color: #A1C1BE;
}

table {
	width: 100%;
	font-weight: normal;
}

table th {
	background-color: #E2E3D9;
}

table tr {
	background-color: #FFFFFF;
}

body > table > tbody:nth-child(2n+1) > tr{
    background-color: #F3F4E5;
}

body>table>tbody>tr>td:nth-child(n+4):nth-child(-n+6) {
	text-align: center;
}


body>table>tbody>tr>td:nth-child(6)>a {
	color: #A1C1BE;
	font-weight: bold;
}

body>dl>dd {
	color: deeppink;
	margin-left: 0;
	font-weight: bold;
}

.plaatsen {
	width: 80px;
}

.reserveren {
	margin-top: 20px;
}

form#reserveerform span {
	color: red;
}

#tabel>tbody>tr:nth-child(2n+2) {
	background-color: #F3F4E5;
}

#verwijder > table > tbody > tr > td:nth-child(n+4):nth-child(-n+6) {
    text-align: center;
}

#verwijder > table > tbody:nth-child(2n+1) > tr{
    background-color: #F3F4E5;
}