@CHARSET "ISO-8859-1";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import "normalize.css" ";
body{
	background-color : #FFFFFF;
	color : #59554E;
	font-family: 'Open Sans', sans-serif;
}

h1{
	color : #59554E
}

nav ul {
	background-color: #A1C1BE;
	padding: 0.4em 0;
}

nav li {
	display: inline;
}

nav li a {
	color: white;
	padding-left: 0.5em;
	text-decoration: none;
	vertical-align: middle;
}

nav li a:hover {
	color: #59554E;
	font-weight: bold;
}

nav#menu ul {
	background-color: #FFFFFF;
}
nav#menu li a {
	color: #A1C1BE;
}

table {
	width: 100%;
	font-weight: normal;
}

table th {
	background-color: #E2E3D9;
}

table tr {
	background-color: #FFFFFF;
}

body > table > tbody:nth-child(2n+1) > tr{
	background-color: #F3F4E5;
}

body > table > tbody > tr > td:nth-child(5) {
	text-align: right;
}

body > table > tbody > tr > td:nth-child(6) > a{
	color: #A1C1BE;
	font-weight: bold;
}

body > dl > dd {
	color: deeppink;
	margin-left: 0;
	font-weight: bold;
}

.plaatsen {
	width: 80px;
}

.reserveren {
	margin-top: 20px;
}

